doctype html
html
  head
    title My PDF
    style.
      body {
        font-family: Arial, sans-serif;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      th, td {
        border: 1px solid #333;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      footer {
        position: fixed;
        bottom: 20px;
        width: 100%;
        text-align: center;
      }
  
  body
    // Заголовок документа (справа)
    h1(style="text-align: right;") Заголовок справа

    // Заголовок таблицы (по центру)
    h2(style="text-align: center;") Заголовок таблицы

    // Таблица
    table
      thead
        tr
          th Поле 1
          th Поле 2
          th Поле 3
          th Поле 4
          th Поле 5
          th Поле 6
          th Поле 7
          th Поле 8
          th Поле 9
          th Поле 10
          th Поле 11
          th Поле 12
          th Поле 13
          th Поле 14
          th Поле 15
          th Поле 16

      tbody
        tr
          td Значение 1
          td Значение 2
          td Значение 3
          td Значение 4
          td Значение 5
          td Значение 6
          td Значение 7
          td Значение 8
          td Значение 9
          td Значение 10
          td Значение 11
          td Значение 12
          td Значение 13
          td Значение 14
          td Значение 15
          td Значение 16

    // Колонтитул
    footer
      p Надпись в колонтитуле
