<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My PDF</title>
    <style>
      @media print {
        .page-break {
          page-break-after: always;
        }
      }
      body {
        font-family: Serif;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: auto;
      }
      th,
      td {
        border: 1px solid #333;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .footer {
      position: fixed; /* Фиксированное позиционирование */
      bottom: 0; /* Разместить внизу страницы */
      width: 100%; /* Ширина на всю страницу */
      text-align: center; /* Выравнивание по центру */
    }




    </style>
  </head>
  <body>
    <div style="text-align: right">
      <p style="text-align: center; display: inline-block">
        Қазақстан Республикасының<br />Қарулы Күштеріндегі дене шынықтыру<br />дайындығы
        қағидаларына<br />9-қосымша
      </p>
    </div>
    <!-- Заголовок таблицы (по центру)-->
    <p style="text-align: center; margin-top: 100px">
      ӘСК жаттығуларын орындауын есепке алу<br /><strong
        >арнайы ведомосы</strong
      >
    </p>
    <!-- Таблица-->
    <table>
      <thead>
        <tr>
          <th colspan="1" rowspan="4" style="text-align: center">Р/c<br />№</th>
          <th colspan="1" rowspan="4" style="text-align: center">
            Әскери<br />атағы
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Тегі және инициалдары
            </div>
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Жас ерекшелігі тобы
            </div>
          </th>
          <th colspan="6">Орындалған жаттығулардың нәтижелері</th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Жалпы балл
            </div>
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Орташа балл
            </div>
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              ӘСК дәрежесі
            </div>
          </th>
        </tr>
        <tr>
          <th colspan="2">1</th>
          <th colspan="2">2</th>
          <th colspan="2">3</th>
        </tr>
        <tr>
          <th colspan="2">Жат 1</th>
          <th colspan="2">Жат 2</th>
          <th colspan="2">Жат 3</th>
        </tr>
        <tr>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Нәтиже
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Балл
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Нәтиже
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Балл
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Нәтиже
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Балл
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="footer" id="footer">
        Page <span id="pageNumber">1</span>
      </div>
    <div class="page-break"></div>
    <!-- Таблица-->
    <table>
      <thead>
        <tr>
          <th colspan="1" rowspan="4" style="text-align: center">Р/c<br />№</th>
          <th colspan="1" rowspan="4" style="text-align: center">
            Әскери<br />атағы
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Тегі және инициалдары
            </div>
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Жас ерекшелігі тобы
            </div>
          </th>
          <th colspan="6">Орындалған жаттығулардың нәтижелері</th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Жалпы балл
            </div>
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Орташа балл
            </div>
          </th>
          <th colspan="1" rowspan="4" style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              ӘСК дәрежесі
            </div>
          </th>
        </tr>
        <tr>
          <th colspan="2">1</th>
          <th colspan="2">2</th>
          <th colspan="2">3</th>
        </tr>
        <tr>
          <th colspan="2">Жат 1</th>
          <th colspan="2">Жат 2</th>
          <th colspan="2">Жат 3</th>
        </tr>
        <tr>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Нәтиже
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Балл
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Нәтиже
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Балл
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Нәтиже
            </div>
          </th>
          <th style="text-align: center">
            <div
              style="
                writing-mode: vertical-lr;
                transform: scaleY(-1) scaleX(-1);
                margin-left: auto;
                margin-right: auto;
              "
            >
              Балл
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="footer" id="footer">
        Page <span id="pageNumber">1</span>
      </div>
    <div class="page-break"></div>
  </body>
  <script>
    // Обновление номера страницы
    function updatePageNumber() {
      var pageNumberElement = document.getElementById('pageNumber');
      var totalPages = document.querySelectorAll('.page').length; // Общее количество страниц
      var currentPage = document.querySelectorAll('.page').length + 1; // Текущая страница

      pageNumberElement.textContent = currentPage + ' of ' + totalPages;
    }

    // Вызов функции при загрузке страницы и изменении размеров окна
    window.onload = function() {
      updatePageNumber();
    };
    window.onresize = function() {
      updatePageNumber();
    };
  </script>
</html>
